<%- include("partials/header.ejs") %>

        <!-- Page Header-->
        <header class="masthead d-flex align-items-center" style="background-image: url('assets/img/home-bg.jpg'); min-height: 100vh;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                        <div class="site-heading">
                            <h1 class="text-warning lead"><%= header.title %> </h1>
                            <span class="subheading"><%= header.author %></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        
       
        <section class="content-header wrapper">
            <div class="container">
                <div class="row">
                    <div class="col text-center mb-5">
                        <h1 class="display-4 content-header text-warning">Blog Post</h1>
                        <p class="lead">Lorem ipsum dolor sit amet at enim hac integer volutpat maecenas pulvinar.</p>
                    </div>
                </div>
                <div id="card-holder" class="container mt-4">
                    <div class="row" id="card-container">
                      <% posts.forEach(post => {%>
                        <% const shortContent = post.content.length > 100 ? post.content.substring(0, 100) + '...' : post.content %>
                
                        <!-- Cards will be appended here -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                          <div class="text-dark card card-has-bg click-col">
                              <img alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?" class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design">
                              <div class="card-img-overlay d-flex flex-column">
                                  <div class="card-body">
                                      <small class="card-meta mb-2"><%= post.author %></small>
                                      <h4 class="card-title mt-0">
                                          <a class="text-dark" href="#"><%= post.title %></a>
                                      </h4>
                                      <p><%= shortContent %> <br><span class="round read-more fs-6 text-success" data-id= "<%= post.id %>" data-title="<%= post.title %>" data-content="<%= post.content %>">Read More..</p>
                                  </div>
                                  <div class="card-footer" >
                                      <button class="btn btn-dark button-round text-white"><a class="text-white" href="/">Edit</a></button>
                                      <a  href="/delete/<%= post.id %>">
                                        <button style="text-decoration: none" class="text-white btn btn-danger button-round delete-card">Delete</button>
                                      </a>
                                   
                                  </div>
                              </div>
                          </div>
                      </div>
                      <% const latestPost = post[-1] %>
                   <% }); %>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
<div class="modal fade" id="readMoreModal" tabindex="-1" aria-labelledby="readMoreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="readMoreModalLabel">Post Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="modalContent">Post content will be displayed here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  

          
          
        <!-- Footer-->
<%- include("partials/footer.ejs") %>